#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.titulo{
  margin-left: 200px;
}

.card {
  max-width: 40px;
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



@media screen and (max-width: 600px) {
  .MuiGrid-root {
    display: flex;
    flex-direction: column;
  }

  .MuiGrid-root > :first-of-type {
    order: -1;
  }
}