body{
    background-color: #312E2D;
}

.appbar{
      background-image: linear-gradient(to right, #191A1A, #373838,#191A1A);
}

.card:hover{
box-shadow: 5px 5px 40px black;
}

.logo:hover{
box-shadow: 1px 1px 20px red;
}

.gif:hover {
  animation: spin 2s linear infinite;
}

.imagen:hover{
    filter: saturate(200%);
}



::-webkit-scrollbar {
    width: 3px; /* Ancho de la scrollbar */
    height: 2px; /* Altura de la scrollbar */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color de la pista de la scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del pulgar de la scrollbar */
}

@keyframes spin {
  from {
    transform: rotate(0deg); /* Empieza con rotación de 0 grados */
  }
  to {
    transform: rotate(360deg); /* Termina con rotación de 360 grados */
  }
}